{#
/**
 * @file
 * Theme implementation to display the sitemap.
 *
 * Available variables:
 * - message: A configurable introductory message.
 * - sitemap_items: A keyed array of sitemap "boxes".
 *   The keys correspond to the available types of sitemap content, including:
 *   - front
 *   - books
 *   - individual menus
 *   - individual vocabularies
 *   Each items contains the following variables:
 *   - title: The subject of the box.
 *   - content: The content of the box.
 *   - attributes:  Optional attributes for the box.
 *   - options:  Options are set by sitemap.helper service.
 * - additional:
 *
 * @see template_preprocess()
 * @see template_preprocess_sitemap()
 */
#}

<head>
<style>
div .sitemap {
    min-height: 1vh; !important
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px; !important
}

.sitemap .sitemap-box {
     margin-bottom: 0em; !important
}

</style>
</head>

    {% for contents in sitemapcontent %}
        <div style="margin-left:10%">
          <span><a href="#" hreflang="en">{{ contents.title }}</a></span>
          <div style="padding-left:1.5em"class="content">
            {{contents.content}}
          </div>
        </div>
     {% endfor %}


